body {
    font-family: "Quicksand", sans-serif;
}

/* Toggle Dark/Light Mode button */
.checkbox {
    opacity: 0;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2 linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

#checkbox {
    display: none;
}

[data-bs-theme="dark"] {
  --bs-body-bg: hsl(240, 10%, 4%); /* Set the main background to a very very dark shade of blue... so cool */
  --bs-body-color: hsl(0, 0%, 100%, 1);
}

main {
    padding-left: 6%;
    padding-top: 5rem;
    padding-right: 6%;
    max-width: 768px; /* Stops growing at tablet size */
    margin: 0 auto;   /* Centers the container */
}

/* Header Row */

.heading h1 {
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: 0.4px;
    line-height: 32px;
}

.heading p {
    font-size: 0.95rem;
    margin: 0;
    color: grey;
    font-weight: 500;
    line-height: 16px;
}

.heading img {
    width: 70px;
    border-radius: 50%;

}

.paraTitle {
    font-weight: 500;
    font-size: 0.95rem;
}

.paraSupport {
    color: grey;
    font-weight: 500;
    font-size: 0.95rem;

}

@media (min-width: 425px) {
    .heading img {

        float: right;
    }
}

@media (max-width: 425px) {

    .heading-words {
        padding-left: 5.4%;
    }

    .main {
    padding-left: 0%;
    padding-top: 0rem;
    padding-right: 0%;
    max-width: 768px; /* Stops growing at tablet size */
    margin: 0 auto;   /* Centers the container */
    }
}
